<?xml version="1.0"?>
<launch>
    <arg name="quad_name" default="hummingbird"/>
    <!-- Basic simulation environment -->


    <group ns="$(arg quad_name)">
        <!-- Trajectory Planning -->
        <node pkg="agile_autonomy" type="agile_autonomy_ab" name="agile_autonomy_ab" output="screen">
            <rosparam file="$(find agile_autonomy)/parameters/default.yaml"/>
            <rosparam file="$(find agile_autonomy)/parameters/flightmare.yaml"/>
            <rosparam file="$(find agile_autonomy)/parameters/mpc_params.yaml"/>
            <rosparam file="$(find state_predictor)/parameters/hummingbird.yaml"/>
            <param name="data_dir" value="$(find agile_autonomy)/../data"/>
            <remap from="completed_global_plan" to="/test_primitive/completed_planning"/>
        </node>
    </group>
    
        <!-- Global Planning -->
    <include file="$(find mpl_test_node)/launch/ellipsoid_planner_node/global_planning.launch"/>
    <!-- label with 8 parallel threads -->
    <node pkg="rviz" type="rviz" name="viz_face" args="-d $(find agile_autonomy)/resources/rviz/simulation.rviz"/>

</launch>
